/*
// COLORS, VARIABLES
// ======
*/
/* Box sizing rules */
@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;500;700&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  font-family: "Ubuntu", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
.dropdown-toggle,
.dropdown-item {
  font-family: "Overpass", sans-serif;
  font-weight: 600;
  color: #1f3f5b;
}

h1,
.h1 {
  font-size: 2.15rem;
}

h2,
.h2 {
  font-size: 1.7rem;
  line-height: 1.1;
}

h3,
.h3 {
  font-size: 1.75rem;
  line-height: 1.15;
}

p {
  letter-spacing: 0.5px;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.6;
  color: #4b5862;
}

footer .nav-item,
header p,
p,
.btn {
  -webkit-transform: scale(1, 1.2);
          transform: scale(1, 1.2);
}

.form-item.btn-primary {
  -webkit-transform: scale(1);
          transform: scale(1);
}

header h1,
header p {
  color: white;
  line-height: 1.1;
}

header p {
  font-weight: 300;
  letter-spacing: 1px;
  font-size: 1rem;
}

.dropdown-toggle {
  font-size: 1.2rem;
  color: #25252d;
}

.dropdown-item {
  font-size: 1.1rem;
}

.dropdown-item,
.dropdown.expanded .dropdown-toggle {
  color: #4b5862;
}

#section-2 h3 {
  font-size: 2.35rem;
  line-height: 1.3;
}

footer {
  color: white;
}

footer p {
  color: white;
  font-weight: 700;
  font-size: 1.1rem;
}

footer .nav-item {
  display: block;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.1rem;
  line-height: 2;
  color: #c8c8cb;
}

@media (min-width: 1023px) {
  footer .nav-item,
  header p,
  p,
  .btn {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.main-container {
  min-width: 350px;
}

.navbar {
  margin-top: 35px;
}

header h1 {
  margin-top: 120px;
}

header p {
  margin: 25px 0 50px;
}

header .btn {
  margin: 0 5px;
}

.section-header {
  margin: 105px 0 50px;
}

.article-title {
  margin: 55px 0 25px;
}

#section-2 {
  margin: 250px 0 75px;
}

footer {
  margin-top: 75px;
}

@media (min-width: 1023px) {
  .section-header {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    margin: 160px 0 0;
  }
  #section-1,
  #section-3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  #section-1 .article {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  #section-1 .article-img {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  #section-2 .container {
    width: 50%;
    margin-left: auto;
  }
  #section-2 .article {
    padding: 120px 150px 90px 25px;
    margin: 0;
  }
  #section-3 {
    gap: 50px;
    margin-top: 60px;
  }
  #section-3 .article {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  #section-3 .article-img {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

body {
  background-color: white;
}

.container {
  padding: 25px;
}

.navbar-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar-logo {
  width: 80px;
}

.navbar-toggler {
  border: none;
  background: transparent;
}

.navbar-toggler #close {
  display: none;
}

.navbar-toggler #open {
  display: block;
}

.navbar-collapse {
  display: none;
  position: absolute;
  width: 100%;
  padding: 30px 25px;
  top: 70px;
  left: 0;
  border-radius: 5px;
  background-color: white;
  z-index: 2;
}

.navbar-nav,
.navbar .dropdown-menu {
  list-style: none;
}

.navbar-nav {
  margin: 0;
  padding: 0;
}

.navbar-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 2px solid #ffd8dd;
  padding: 20px;
}

.dropdown {
  margin: 0 0 20px;
}

.dropdown-toggle, .dropdown-item {
  text-decoration: none;
}

.dropdown-toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.dropdown-toggle img {
  margin-left: 10px;
}

.dropdown-menu {
  display: none;
  margin-top: 30px;
  padding: 20px;
  border-radius: 5px;
  background: #ffd8dd;
}

.dropdown-menu li {
  margin-bottom: 10px;
}

.dropdown-menu li:last-of-type {
  margin-bottom: 0;
}

.dropdown-item:hover, .dropdown-toggle:hover {
  text-decoration: underline;
}

.navbar.expanded .navbar-toggler #close {
  display: block;
}

.navbar.expanded .navbar-toggler #open {
  display: none;
}

.navbar.expanded .navbar-collapse {
  display: block;
}

.dropdown.expanded .dropdown-toggle img {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.dropdown.expanded .dropdown-menu {
  display: block;
}

header {
  height: 600px;
  border-bottom-left-radius: 90px;
  text-align: center;
  background-image: url(../images/bg-pattern-intro-mobile.svg), linear-gradient(-50deg, #ff3d54, #ff8f70);
  background-size: auto 1300px, contain;
  background-position: -320px -235px, center;
}

.btn {
  text-decoration: none;
  padding: 15px 20px;
  border: none;
  border-radius: 30px;
  background: transparent;
  color: White;
  font-family: "Ubuntu", sans-serif;
  font-size: 1rem;
  font-weight: 700;
}

.btn-border {
  border: 1px solid white;
}

.btn-primary {
  background: white;
  color: #ff525d;
}

.btn-primary:hover {
  background-color: #ff8b98;
  border-color: #ff8b98;
  color: white;
}

.btn-secondary:hover {
  background-color: white;
  color: #ff525d;
}

.navbar-form .btn {
  padding: 10px 35px;
}

.navbar-form .btn:hover {
  text-decoration: underline;
}

.navbar-form .btn-primary {
  display: inline-block;
  margin-top: 15px;
  -webkit-transform: scale(1);
          transform: scale(1);
  background: -webkit-gradient(linear, right top, left top, from(#ff3d54), to(#ff8f70));
  background: linear-gradient(-90deg, #ff3d54, #ff8f70);
  color: white;
}

.navbar-form .btn-secondary {
  color: #25252d;
}

.pt-0 {
  padding-top: 0 !important;
}

.mt-0 {
  margin-top: 0;
}

main {
  text-align: center;
}

#section-1 .article-img {
  height: 330px;
  background-image: url(../images/illustration-editor-mobile.svg);
  background-size: cover;
  background-position: center;
}

#section-2 {
  position: relative;
  height: 620px;
  padding-top: 230px;
  border-bottom-left-radius: 90px;
  border-top-right-radius: 90px;
  background-image: url(../images/bg-pattern-circles.svg), linear-gradient(45deg, #2c2d3f, #3f4164);
  background-size: cover;
  background-position: center -240px, center;
  background-repeat: no-repeat no-repeat;
}

#section-2 .article-img {
  position: absolute;
  left: 0;
  top: -200px;
}

#section-2 p,
#section-2 h3 {
  color: white;
}

#section-3 .article-img {
  height: 330px;
  background-image: url(../images/illustration-laptop-mobile.svg);
  background-size: 130%;
  background-position: center;
}

footer {
  display: -ms-grid;
  display: grid;
  place-content: center;
  border-top-right-radius: 90px;
  background-color: #25252d;
}

footer .group-name {
  margin: 35px 0 20px;
}

footer .nav-item:hover {
  text-decoration: underline;
}

.footer-logo {
  margin: 50px 0 70px;
  display: block;
}

.footer-logo img {
  margin: auto;
}

.list-group,
.group-items,
.nav-list {
  margin: 0;
  padding: 0;
  text-align: center;
  list-style: none;
}

@media (min-width: 1023px) {
  .main-container {
    max-width: 1440px;
    margin: 0 auto;
  }
  .section-header {
    font-size: 2.5rem;
  }
  .start-padding {
    padding: 70px 0 55px 165px;
  }
  .container {
    padding: 0;
  }
  #section-1 .article-img {
    height: auto;
    min-height: 900px;
    background-image: url(../images/illustration-editor-desktop.svg);
    background-position: left;
  }
  .article {
    margin-top: 245px;
    padding-right: 90px;
    text-align: left;
  }
  .article h3 {
    margin: 0;
  }
  .article p {
    margin: 35px 0 80px;
  }
  #section-2 {
    height: auto;
    margin: 0;
    padding: 0;
    background-size: 71%, contain;
    background-position: -215px -500px, center;
    background-repeat: no-repeat no-repeat;
  }
  #section-2 .article-img {
    max-height: 500px;
    top: -70px;
    left: 130px;
  }
  #section-2 p {
    margin-bottom: 0;
  }
  #section-3 .article-img {
    height: auto;
    min-height: 780px;
    margin-top: 60px;
    background-image: url(../images/illustration-laptop-desktop.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
  }
  .end-padding {
    padding-right: 150px;
  }
  footer {
    display: block;
  }
  footer .container {
    padding: 70px 160px;
  }
  footer .group-name {
    margin: 0px 0 30px;
  }
  footer .group-name,
  footer .nav-item {
    font-size: 0.9rem;
  }
  footer .nav-item {
    margin: 5px 0;
  }
  .footer-logo {
    margin: 0;
  }
  .nav-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    gap: 200px;
  }
  .nav-footer .nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 200px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .nav-footer .list-group,
  .nav-footer .group-items,
  .nav-footer .nav-list {
    text-align: left;
  }
}
/*# sourceMappingURL=style.css.map */