// body
body {
  background-color: $White;
}

.container {
  padding: 25px;
}

// Top Navigation
.navbar {
  &-container {
    display: flex;
    justify-content: space-between;
  }

  &-logo {
    width: 80px;
  }

  &-toggler {
    border: none;
    background: transparent;
  }

  &-collapse {
    display: none;
  }

  &-nav {
    .dropdown {
      &-menu {
        display: none;
      }
    }
  }
}

// Top Navigation Expanded
.navbar {
  &.expanded & {
    &-container {
      position: relative;
    }

    &-collapse {
      display: block;
      position: absolute;
      width: 100%;

      top: 70px;
      left: 0;
      background-color: $White;
      z-index: 2;
    }

    &-nav {
      &,
      .dropdown-menu {
        list-style: none;
        padding: 0;
      }

      .dropdown {
        &-toggle,
        &-item {
          text-decoration: none;
        }

        &-menu {
          display: block;
        }
      }
    }
  }
}

// Header
header {
  height: 600px;
  border-bottom-left-radius: 90px;
  text-align: center;
  background-image: url(../images/bg-pattern-intro-mobile.svg),
    linear-gradient(-50deg, $Light-red, $Very-light-red);
  background-size: auto 1300px, contain;
  background-position: -320px -235px, center;
}

// Butotns
.btn {
  padding: 10px 20px;
  border: none;
  background: transparent;
  color: White;
  font-family: $ubuntu;
  font-size: 1rem;
  font-weight: 700;
}

.btn-border {
  border: 1px solid $White;
  border-radius: 30px;
}

.btn-primary {
  background: White;
  color: $Light-red;
}

// Padding top 0
.pt-0 {
  padding-top: 0 !important;
}
// Margin top 0
.mt-0 {
  margin-top: 0;
}

// Main
main {
  text-align: center;
}

// Section-1
#section-1 {
  .article-img {
    height: 330px;
    background-image: url(../images/illustration-editor-mobile.svg);
    background-size: cover;
    background-position: center;
  }
}

// Section-2
#section-2 {
  position: relative;
  height: 620px;
  padding-top: 230px;
  border-bottom-left-radius: 90px;
  border-top-right-radius: 90px;

  background-image: url(../images/bg-pattern-circles.svg),
    linear-gradient(-225deg, $Very-dark-gray-blue, $Very-dark-desaturated-blue);
  background-size: cover;
  background-position: center -240px, center;
  background-repeat: no-repeat no-repeat;

  .article-img {
    position: absolute;
    left: 0;
    top: -200px;
  }

  p,
  h3 {
    color: $White;
  }
}

// Section-3
#section-3 {
  .article-img {
    height: 330px;
    background-image: url(../images/illustration-laptop-mobile.svg);
    background-size: 130%;
    background-position: center;
  }
}

// Footer
footer {
  display: grid;
  place-content: center;
  border-top-right-radius: 90px;

  background-color: $Very-dark-black-blue;
}

.footer-logo {
  display: block;
  img {
    margin: auto;
  }
}

.list-group,
.group-items,
.nav-list {
  margin: 0;
  padding: 0;
  text-align: center;
  list-style: none;
}
