// body
body {
  background-color: $White;
}

.container {
  padding: 25px;
}

// Top Navigation
.navbar {
  &-container {
    position: relative;
    display: flex;
    justify-content: space-between;
  }

  &-logo {
    width: 80px;
  }

  &-toggler {
    border: none;
    background: transparent;

    #close {
      display: none;
    }
    #open {
      display: block;
    }
  }

  &-collapse {
    display: none;
    position: absolute;
    width: 100%;
    padding: 30px 25px;
    top: 70px;
    left: 0;
    border-radius: 5px;
    background-color: $White;
    z-index: 2;
  }

  &-nav,
  .dropdown-menu {
    list-style: none;
  }

  &-nav {
    margin: 0;
    padding: 0;
  }

  &-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 2px solid $Light-red-2;
    padding: 20px;
  }
}

.dropdown {
  margin: 0 0 20px;

  &-toggle,
  &-item {
    text-decoration: none;
  }

  &-toggle {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      margin-left: 10px;
    }
  }

  &-menu {
    display: none;

    margin-top: 30px;
    padding: 20px;
    border-radius: 5px;
    background: $Light-red-2;

    li {
      margin-bottom: 10px;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
  &-item,
  &-toggle {
    &:hover {
      text-decoration: underline;
    }
  }
}

// Top Navigation Expanded
.navbar {
  &.expanded & {
    &-toggler {
      #close {
        display: block;
      }
      #open {
        display: none;
      }
    }

    &-collapse {
      display: block;
    }
  }
}

.dropdown {
  &.expanded & {
    &-toggle {
      img {
        transform: rotate(180deg);
      }
    }

    &-menu {
      display: block;
    }
  }
}

// Header
header {
  height: 600px;
  border-bottom-left-radius: 90px;
  text-align: center;
  background-image: url(../images/bg-pattern-intro-mobile.svg),
    linear-gradient(-50deg, $Light-red-1, $Very-light-red-1);
  background-size: auto 1300px, contain;
  background-position: -320px -235px, center;
}

// Buttotns
.btn {
  text-decoration: none;
  padding: 15px 20px;
  border: none;
  border-radius: 30px;
  background: transparent;
  color: White;
  font-family: $ubuntu;
  font-size: 1rem;
  font-weight: 700;
}

.btn-border {
  border: 1px solid $White;
}

.btn-primary {
  background: $White;
  color: $Light-red;

  &:hover {
    background-color: $Light-red-3;
    border-color: $Light-red-3;
    color: $White;
  }
}

.btn-secondary {
  &:hover {
    background-color: $White;
    color: $Light-red;
  }
}

.navbar-form {
  .btn {
    padding: 10px 35px;

    &:hover {
      text-decoration: underline;
    }
  }

  .btn-primary {
    display: inline-block;
    margin-top: 15px;
    transform: scale(1);
    background: linear-gradient(-90deg, $Light-red-1, $Very-light-red-1);
    color: $White;
  }

  .btn-secondary {
    color: $Very-dark-black-blue;
  }
}

// Padding top 0
.pt-0 {
  padding-top: 0 !important;
}
// Margin top 0
.mt-0 {
  margin-top: 0;
}

// Main
main {
  text-align: center;
}

// Section-1
#section-1 {
  .article-img {
    height: 330px;
    background-image: url(../images/illustration-editor-mobile.svg);
    background-size: cover;
    background-position: center;
  }
}

// Section-2
#section-2 {
  position: relative;
  height: 620px;
  padding-top: 230px;
  border-bottom-left-radius: 90px;
  border-top-right-radius: 90px;

  background-image: url(../images/bg-pattern-circles.svg),
    linear-gradient(45deg, $Very-dark-gray-blue, $Very-dark-desaturated-blue);
  background-size: cover;
  background-position: center -240px, center;
  background-repeat: no-repeat no-repeat;

  .article-img {
    position: absolute;
    left: 0;
    top: -200px;
  }

  p,
  h3 {
    color: $White;
  }
}

// Section-3
#section-3 {
  .article-img {
    height: 330px;
    background-image: url(../images/illustration-laptop-mobile.svg);
    background-size: 130%;
    background-position: center;
  }
}

// Footer
footer {
  display: grid;
  place-content: center;
  border-top-right-radius: 90px;

  background-color: $Very-dark-black-blue;

  .nav-item {
    &:hover {
      text-decoration: underline;
    }
  }
}

.footer-logo {
  display: block;
  img {
    margin: auto;
  }
}

.list-group,
.group-items,
.nav-list {
  margin: 0;
  padding: 0;
  text-align: center;
  list-style: none;
}

@include mq {
  .main-container {
    max-width: 1440px;
    margin: 0 auto;
  }

  .section-header {
    font-size: 2.5rem;
  }

  .start-padding {
    padding: 70px 0 55px 165px;
  }

  .container {
    padding: 0;
  }

  // Section 1
  #section-1 {
    .article-img {
      height: auto;
      min-height: 900px;

      background-image: url(../images/illustration-editor-desktop.svg);
      background-position: left;
    }
  }

  .article {
    margin-top: 245px;
    padding-right: 90px;
    text-align: left;

    h3 {
      margin: 0;
    }
    p {
      margin: 35px 0 80px;
    }
  }

  // Section 2
  #section-2 {
    height: auto;
    margin: 0;
    padding: 0;

    background-size: 71%, contain;
    background-position: -215px -500px, center;
    background-repeat: no-repeat no-repeat;

    .article {
      padding: 120px 150px 90px 25px;
      margin: 0;
    }

    .article-img {
      max-height: 500px;
      top: -70px;
      left: 130px;
    }

    p {
      margin-bottom: 0;
    }
  }

  // Section 3
  #section-3 {
    .article-img {
      height: auto;
      min-height: 780px;
      margin-top: 60px;

      background-image: url(../images/illustration-laptop-desktop.svg);
      background-repeat: no-repeat;
      background-position: right;
      background-size: cover;
    }
  }

  .end-padding {
    padding-right: 150px;
  }
}
