// body
body {
  background-color: $Very-light-red;
}

// Top Navigation
.navbar {
  &-container {
    display: flex;
    justify-content: space-between;
  }

  &-collapse {
    display: none;
  }

  &-nav {
    .dropdown {
      &-menu {
        display: none;
      }
    }
  }
}
