.navbar {
  margin-top: 35px;
}

header {
  h1 {
    margin-top: 120px;
  }

  p {
    margin: 25px 0 50px;
  }

  .btn {
    margin: 0 5px;
  }
}

.section-header {
  margin: 105px 0 50px;
}

.article-title {
  margin: 55px 0 25px;
}

#section-2 {
  margin: 250px 0 75px;
}

footer {
  margin-top: 75px;

  .group-name {
    margin: 35px 0 20px;
  }
}

.footer-logo {
  margin: 50px 0 70px;
}

@include mq {
  .section-header {
    position: absolute;
  }

  #section-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .article {
      flex: 1;
      order: 1;
    }

    .article-img {
      flex: 1;
      order: 2;
    }
  }
}
