.main-container {
  min-width: 350px;
}

.navbar {
  margin-top: 35px;
}

header {
  h1 {
    margin-top: 120px;
  }

  p {
    margin: 25px 0 50px;
  }

  .btn {
    margin: 0 5px;
  }
}

.section-header {
  margin: 105px 0 50px;
}

.article-title {
  margin: 55px 0 25px;
}

#section-2 {
  margin: 250px 0 75px;
}

footer {
  margin-top: 75px;
}

@include mq {
  .section-header {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 160px 0 0;
  }

  #section-1,
  #section-3 {
    display: flex;
    justify-content: space-between;
    align-items: start;
  }

  #section-1 {
    .article {
      flex: 1 1 50%;
      order: 1;
    }

    .article-img {
      flex: 1 1 50%;
      order: 2;
    }
  }

  #section-2 {
    .container {
      width: 50%;
      margin-left: auto;
    }
    // left padding is 50 of gap in section 3
    .article {
      padding: 120px 150px 90px 25px;
      margin: 0;
    }
  }

  #section-3 {
    gap: 50px;
    margin-top: 60px;

    .article {
      flex: 1 1 50%;
      order: 2;
    }

    .article-img {
      flex: 1 1 50%;
      order: 1;
    }
  }
}
