/*
// COLORS, VARIABLES
// ======
*/

//## Colors

//### Primary
$Light-red: hsl(356, 100%, 66%); // (CTA text)
$Very-light-red: hsl(355, 100%, 74%); // (CTA hover background)
$Very-dark-blue: hsl(208, 49%, 24%); // (headings)

//### Neutral
$White: hsl(0, 0%, 100%); //(text)
$Grayish-blue: hsl(240, 2%, 79%); //(footer text)
$Very-dark-grayish-blue: hsl(207, 13%, 34%); //(body copy)
$Very-dark-black-blue: hsl(240, 10%, 16%); //(footer background)

//### Gradient

//Background gradient - Intro/CTA mobile nav:

$Very-light-red-1: hsl(13, 100%, 72%);
$Light-red-1: hsl(353, 100%, 62%);

//Background gradient - body:

$Very-dark-gray-blue: hsl(237, 17%, 21%);
$Very-dark-desaturated-blue: hsl(237, 23%, 32%);

$Light-red-2: mix($Light-red-1, white, 20%);
$Light-red-3: mix($Light-red-1, white, 60%);
// fonts
$overpass: 'Overpass', sans-serif;
$ubuntu: 'Ubuntu', sans-serif;

// Mixins
@mixin mq {
  @media (min-width: 1023px) {
    @content;
  }
}

@import 'reset';
@import 'typography';
@import 'layout';
@import 'components';
